* {
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100dvw;
  height: 100dvh;
}

#puzzle-container {
  width: 75dvw;
  height: 75dvh;

  display: grid;

  grid-template-columns: repeat(var(--column-count, 3), 1fr);
  grid-template-rows: repeat(var(--row-count, 3), 1fr);

  background-color: #f9f3f3;
}

@keyframes piecePlaced {
  0% {
    transform: scale(0.95);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.puzzle-cell {
  position: relative;
  width: 100%;
  height: 100%;
}

.puzzle-cell {
  position: relative;
  width: 100px;
  height: 100px;
}

.puzzle-piece {
  position: absolute;
  width: 140px;
  height: 140px;

  top: -20px;
  left: -20px;

  transform: rotate(var(--piece-rotation, 0deg));
  transform-origin: center center;

  background-image: var(--piece-url);
  background-size: 100% 100%;
  background-repeat: no-repeat;

  pointer-events: none;
}

.puzzle-piece.placed {
  animation: ease-in-out piecePlaced 300ms;
}
